body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1228px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:727px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:727px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:75px;
  width:187px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:155px;
  word-wrap:break-word;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:75px;
  width:187px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:155px;
  white-space:nowrap;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:17px;
  width:258px;
  height:45px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1191px;
  height:32px;
  background:inherit;
  background-color:rgba(230, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(145, 213, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:120px;
  width:1191px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:38px;
  top:5px;
  width:1137px;
  word-wrap:break-word;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:131px;
  width:10px;
  height:10px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:129px;
  width:14px;
  height:15px;
  font-family:'anticon';
  font-weight:400;
  font-style:normal;
  font-size:52px;
  color:#1890FF;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:526px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:213px;
  width:292px;
  height:526px;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:162px;
  width:292px;
  height:51px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:181px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
